.header {
  height: 80px;
  font-family: "Playfair Display", serif;
  margin-bottom: 95px;
}
.header-menu {
  display: flex;
  justify-content: center;
}
.header-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50vw;
}
.header-link {
  text-decoration: none;
  color: var(--link-color);
  font-size: 14px;
}
.header-link:hover {
  color: var(--link-hover-color);
}

.photoblog {
  width: 906px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 65px;
       column-gap: 65px;
  row-gap: 130px;
  margin-bottom: 95px;
}
.photoblog-card {
  width: 420px;
}
.photoblog-img {
  height: 280px;
  width: 420px;
  margin-bottom: 60px;
}
.photoblog-text1 {
  font-family: "Ubuntu", serif;
  font-weight: 100;
  color: var(--text1-color);
  margin-bottom: 45px;
}
.photoblog-text2 {
  color: var(--text2-color);
}
.photoblog-title {
  font-size: 30px;
  color: var(--text2-color);
  margin-bottom: 50px;
}
.photoblog-button {
  color: var(--text2-color);
  height: 60px;
  width: 165px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
}

:root {
  --text2-color: #626262;
  --text1-color: #B4AD9E;
  --link-color: #7D7D7D;
  --link-hover-color: #03A9F4;
}